header {
  margin: 2.5rem;

  h1 {
    font-size: 2.2rem;

    img {
      height: 2.5rem;
      margin-bottom: .3rem;
      margin-right: .25rem;
      vertical-align: middle;
    }
  }

  .search-bar {
    display: flex;
  }

  [type="text"] {
    flex: 1;
    font-size: 1.5rem;
    outline: none;
    padding: 1rem;
  }

  button {
    background: $twitch-purple;
    border: 0;
    color: $white;
    cursor: pointer;
    font-size: 1.5rem;
    padding: 0;
    width: 9rem;

    &:hover {
      background: mix($white, $twitch-purple, 10%);
    }
  }
}
