.message {
  background: $get-started-background;
  border-radius: .25rem;
  color: $get-started-text;
  font-size: 2.5rem;
  margin: 2.5rem;
  padding: 2.5rem;
  text-align: center;

  &.error {
    background: mix($red, $white, 5%);
  }
}
